*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

body {
  background: #00b4c3;
}

input, textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.logo {
  font-family: "Lilita One", cursive;
  color: #0ee958;
  text-shadow: -2px 2px #000;
  font-size: 3rem;
  padding: 0;
}

.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  background: #00b4c3;
  color: #E5E5E5;
  overflow: hidden;
}

.home-page, .about-page, .contact-page, .project-page {
  overflow: hidden;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  height: 100vh;
}
.home-page .landing-left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 5;
}
.home-page .landing-left-section .text {
  color: #E5E5E5;
}
.home-page .landing-left-section .text h1, .home-page .landing-left-section .text p {
  letter-spacing: 3px;
}
.home-page .landing-left-section .text h1, .home-page .landing-left-section .text .logo {
  font-size: 2.5rem;
}
.home-page .landing-left-section .text p {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.home-page .landing-left-section .text span {
  position: relative;
  display: inline-block;
  cursor: default;
}
.home-page .landing-left-section .action-buttons {
  margin-top: 1.4rem;
}
.home-page .landing-left-section .action-buttons button {
  height: 4em;
  width: 10em;
}
.home-page .landing-left-section .action-buttons button:last-child {
  margin-left: 1rem;
}
.home-page .social-links {
  position: absolute;
  right: 1rem;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}
.home-page .social-links svg {
  height: 2rem;
  margin: 1rem 0.5rem;
}
.home-page .social-links svg:hover {
  cursor: pointer;
}
.home-page .social-links .vertical-line {
  height: 30px;
  width: 2px;
  background-color: #E5E5E5;
}

.project-page, .about-page, .contact-page {
  min-height: 100vh;
  padding: 2rem 0;
  position: relative;
  z-index: 5;
}
.project-page section, .about-page section, .contact-page section {
  margin-top: 1rem;
  display: grid;
  padding: 0 1rem;
}

.project-page section {
  grid-template-columns: 1fr;
  gap: 1rem 0;
}
.project-page section .project-card {
  height: 350px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}
.project-page section .project-card .hero {
  object-fit: contain;
}
.project-page section .project-card .card-overlay {
  position: absolute;
  display: grid;
  place-items: center;
  height: 50%;
  width: 100%;
  background-color: #cccccc;
  z-index: 1;
  transition: all 1s ease;
}
.project-page section .project-card .card-overlay.top {
  top: -100%;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
}
.project-page section .project-card .card-overlay.bottom {
  bottom: -100%;
  border-top-left-radius: 200%;
  border-top-right-radius: 200%;
}
.project-page section .project-card .card-overlay.bottom button {
  margin: 0 1rem;
}
.project-page section .project-card .card-overlay.bottom button.outlined-primary {
  color: #000;
}
.project-page section .project-card:hover, .project-page section .project-card:focus {
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.project-page section .project-card:hover .card-overlay.top, .project-page section .project-card:focus .card-overlay.top {
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.project-page section .project-card:hover .card-overlay.bottom, .project-page section .project-card:focus .card-overlay.bottom {
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.about-page section .profile-pic {
  justify-self: center;
  height: 14rem;
  width: 14rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: fill;
}
.about-page section .description {
  margin-top: 1rem;
}
.about-page section .description .bio {
  display: grid;
}
.about-page section .description .bio div {
  margin: 0.5rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.about-page section .container-skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0;
  width: 100%;
}
.about-page section .container-skills .skills-container {
  margin-top: 1rem;
  width: 100%;
}
.about-page section .container-skills .skills-container .skill-type {
  position: relative;
}
.about-page section .container-skills .skills-container .skill-type::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  bottom: -3%;
  background: #0ee958;
}
.about-page section .container-skills .skills-container ul {
  margin-top: 0.5rem;
}
.about-page section .container-skills .skills-container ul li {
  margin-top: 0.3rem;
  font-family: "Nunito", sans-serif;
}

.contact-page {
  min-height: 50vh;
}
.contact-page section .contact-content p {
  margin-top: 0.7rem;
  opacity: 0.8;
}
.contact-page section .contact-content .social-links {
  right: 1rem;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}
.contact-page section .contact-content .social-links svg {
  height: 2rem;
  margin: 1rem 0.5rem;
}
.contact-page section .contact-content .social-links svg:hover {
  cursor: pointer;
}
.contact-page section .contact-content .social-links .vertical-line {
  width: 30px;
  height: 2px;
  background-color: #E5E5E5;
}
.contact-page section .right-side {
  margin-top: 1rem;
}
.contact-page section .right-side form .feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
}
.contact-page section .right-side form .feild label {
  color: #E5E5E5;
  opacity: 0.8;
}
.contact-page section .right-side form .feild input, .contact-page section .right-side form .feild textarea {
  background: #00abb9;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  padding: 0.4rem 0.3rem;
  color: #fff;
  margin-top: 3px;
  border-radius: 6px;
  transition: border 1s ease;
}
.contact-page section .right-side form .feild input:focus, .contact-page section .right-side form .feild input:hover, .contact-page section .right-side form .feild textarea:focus, .contact-page section .right-side form .feild textarea:hover {
  border: 1px solid #E5E5E5;
}
.contact-page section .right-side form .feild textarea {
  font-size: 1rem;
}
.contact-page section .right-side form .submit-btn {
  margin-top: 1rem;
  width: 100%;
  border-radius: 6px;
}

nav {
  position: sticky;
  display: grid;
  width: 100%;
  height: 10vh;
  max-height: 50px;
  grid-template-columns: 10% 1fr 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  z-index: 100;
}

input[type=checkbox] {
  display: none;
}

.nav-links {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #37f377;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%) scale(0.5);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: 50;
}
.nav-links li {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  margin-top: 1rem;
  opacity: 0.8;
}
.nav-links li a {
  color: #E5E5E5;
  text-decoration: none;
}
.nav-links li:hover {
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
}
.nav-links li:first-child {
  margin-top: 3rem;
}
.nav-links li.active {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: 1;
}

.nav-links.active {
  transform: translateX(0) scale(1);
  opacity: 1;
}

.nav-buttons {
  justify-self: flex-end;
}
.nav-buttons button {
  margin-right: 0.5rem;
}

:root {
  --width: 40px;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.text-primary {
  color: #0ee958;
}

.btn {
  position: relative;
  height: 40px;
  width: 84px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: -100%;
  left: -100%;
  background: #E5E5E5;
  transition: all 0.3s ease-in;
  z-index: -2;
}
.btn:hover {
  cursor: pointer;
  color: #00b4c3;
}
.btn:hover::before {
  top: 0;
  left: 0;
}

.btn.primary {
  background: #0ee958;
}
.btn.primary:hover {
  background-color: transparent;
}

.btn.outlined-primary {
  background-color: transparent;
  border: 3px solid #0ee958;
}
.btn.outlined-primary:hover {
  border: none;
}

.page-heading {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 0.2fr 0.3fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.page-heading h1 {
  color: #E5E5E5;
  font-size: 2.5rem;
  align-self: center;
  justify-self: center;
}
.page-heading .line-one {
  margin-right: auto;
}
.page-heading .line-two {
  margin-left: auto;
}

.heading {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading h2 {
  margin: 0 1rem;
}

.experience {
  margin-top: 1rem;
}
.experience .title p {
  margin-top: 0.2rem;
  font-size: 1.1rem;
}
.experience ul {
  margin-top: 0.5rem;
}
.experience li {
  margin-bottom: 0.4rem;
}
.experience li span {
  margin-right: 5px;
}

/*waves****************************/
.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
  pointer-events: none;
}

.wave {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #008590;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 15s infinite linear;
}

.wave.-three {
  animation: drift 13s infinite linear;
  position: fixed;
  background: #00abb9;
}

.wave.-two {
  animation: drift 10s infinite linear;
  opacity: 0.1;
  background: black;
  position: fixed;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
/*LOADING SPACE*/
.contain {
  animation-delay: 4s;
  z-index: 5;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-linear-gradient(#00b4c3, #000);
  background: linear-gradient(#000, #00b4c3);
}

@media all and (min-width: 650px) {
  nav {
    grid-template-columns: 10% 1fr 20%;
    padding: 0.2rem 1rem;
  }
  .nav-links {
    width: 80%;
    max-width: 600px;
    justify-self: center;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    transform: none;
    background-color: transparent;
  }
  .nav-links li {
    font-size: 1.2rem;
    margin: 0;
  }
  .nav-links li:first-child {
    margin-top: 0;
  }
  .nav-link {
    font: 1rem;
  }
  .home-page {
    grid-template-columns: 1fr 1fr;
  }
  .home-page .landing-right-section,
  .home-page .landing-left-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-page .landing-left-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .home-page .landing-left-section .text h1, .home-page .landing-left-section .text .logo {
    font-size: 4rem;
  }
  .home-page .landing-left-section .text p {
    font-size: 1.2rem;
  }
  .home-page .landing-left-section .action-buttons {
    margin-top: 1rem;
  }
  .home-page .landing-left-section .action-buttons button {
    display: inline;
  }
  .home-page .landing-left-section .action-buttons button:last-child {
    margin-left: 1rem;
  }
  .home-page .landing-right-section .logo {
    font-size: 25rem;
  }
  .home-page .social-links {
    flex-direction: column;
  }
  .home-page .social-links svg {
    height: 2rem;
    margin: 1rem 0.5rem;
  }
  .page-heading .line {
    width: 100%;
  }
  .project-page section {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .project-page section .project-card {
    height: 250px;
  }
  .about-page section {
    grid-template-columns: 0.5fr 1fr;
  }
  .about-page section .description .bio {
    font-size: 1.2rem;
    gap: 0.3rem 1rem;
  }
  .about-page section .container-skills {
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .about-page section .container-skills .skills-container {
    width: 100%;
  }
  .about-page section .container-skills .skills-container ul li {
    margin-top: 0.3rem;
    font-family: "Nunito", sans-serif;
  }
  .contact-page section .contact-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contact-page section .contact-content h2 {
    font-size: 3rem;
  }
}
.hamburger-menu-button {
  position: relative;
  width: var(--width);
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;
  transition: all 0.5s ease;
}

.hamburger-menu,
.hamburger-menu::after {
  height: calc(0.125 * var(--width));
  border-radius: calc(0.15 * var(--width));
  background-color: #0ee958;
  transition: all 0.25s ease-in-out;
}

.hamburger-menu {
  width: calc(0.75 * var(--width));
  transform: translateY(calc(-0.125 * var(--width)));
}

.hamburger-menu::after {
  position: absolute;
  width: calc(0.375 * var(--width));
  transform: translateY(calc(0.25 * var(--width)));
  content: "";
}

.open {
  transform: translateY(0px) rotate(45deg);
  background-color: #E5E5E5;
}

.open::after {
  width: calc(0.75 * var(--width));
  transform: translateY(0px) rotate(-90deg);
  background-color: #E5E5E5;
}

/*# sourceMappingURL=App.css.map */
